{{extend 'layout.html'}}
<div class="container-fluid">
{{j=0}}
{{for i in que:}}
<a href="#a{{=j}}">
	<p class="text-success">{{=i.question}}</p>
</a>
  {{j=j+1}}
{{pass}}
</div>
{{j=0}}
<div class="container-fluid">
{{for i in que:}}
<blockquote>
  <p class="text-danger">{{=str("Q. "+i.question)}}</p>
  <a color="black" id="a{{=j}}" style="text-decoration: none">{{=str("A. "+i.answer)}}</a>
  {{j=j+1}}
</blockquote>
{{pass}} 
</div>
