{{extend 'layout.html'}}
{{if auth.has_membership('librarian') == False:}}
{{=form}}
{{else:}}
{{for item in record:}}
{{if item.resolved == False:}}
{{if item.priority == "5":}}
<div class="panel panel-danger">
{{elif item.priority == "4":}}
<div class="panel panel-warning">
{{elif item.priority == "3":}}
<div class="panel panel-info">
{{elif item.priority == "2":}}
<div class="panel panel-success">
{{else:}}
<div class="panel panel-default">
{{pass}}
	<div class="panel-heading">
		{{=item.title}}
		<a class="mybtn btn btn-default btn-success pull-right"
			href="{{=URL('default','chgRow',vars=dict(id=item.id))}}">
			Resolved ?
		</a>
	</div>
	<div class="panel-body">
		{{=item.description}}
		<p class="pull-right text-capitalize text-warning">By: {{=item.feedcompBy}}</p>
	</div>
</div>	
{{pass}}
{{pass}}
{{pass}}
