{{extend 'layout.html'}}
<div class="container-fluid">
<h1>PDF Provider</h1>
<br/>
<div class="panel-group">
<div class="panel panel-danger">
	<div class="panel-heading">
		<strong>All defaulters</strong>
	</div>
	<div class="panel-body">
	<p>List of defaulters.
	{{=A('Download',_href=URL('default','gen_pdf',vars=dict(name="5")),
		_class="btn btn-warning pull-right get-space")}}
	</p>
	</div>
</div>
<div class="panel panel-success">
	<div class="panel-heading">
		<strong>All books</strong>
	</div>
	<div class="panel-body">
	<p> List of all available books in library.
	{{=A('Download',_href=URL('default','gen_pdf',vars=dict(name="1"))
		,_class="btn btn-warning pull-right get-space")}}
	</p>
	</div>
</div>
<div class="panel panel-info">
	<div class="panel-heading">
		<strong>All issued books</strong>
	</div>
	<div class="panel-body">
	<p>List of all issued books.
	{{=A('Download',_href=URL('default','gen_pdf',vars=dict(name="2"))
		,_class="btn btn-warning pull-right get-space")}}
	</p>
	</div>
</div>
<div class="panel panel-warning">
	<div class="panel-heading">
		<strong>All reserved books</strong>
	</div>
	<div class="panel-body">
	<p>List of all reserved books.
	{{=A('Download',_href=URL('default','gen_pdf',vars=dict(name="3"))
		,_class="btn btn-warning pull-right get-space")}}
	</p>
	</div>
</div>
<div class="panel panel-info">
	<div class="panel-heading">
		<strong>All library users</strong>
	</div>
	<div class="panel-body">
	<p>List of all library users.
	{{=A('Download',_href=URL('default','gen_pdf',vars=dict(name="4"))
		,_class="btn btn-warning pull-right get-space")}}
	</p>
	</div>
</div>
</div>
</div>
