.side-table > tbody > tr > td {
	border-bottom:5px solid #0066FF;
	border-top:0px solid white;
	cursor:pointer;
}
.side-table > tbody > tr > td:hover {
	border-bottom:5px solid #59C618;
}
#special {
	color:#333;
	text-decoration:none;
}
.get-space {
	margin-right:10px;
}
.book {
	width:100%;
}
.book > tbody>tr>th {
	border-bottom:5px solid #0066FF;
}
.flash {
	margin-left:2%;
	box-shadow:-5px 5px 5px #333;
	border:3px solid #06F;
}
.flash:hover {
	border:3px double #06F;
}
.error {
	font-weight:bold;
	color:#A94442;
}
.mybtn {
	margin-top:-6px;
}
